.no-active > .loader {
    width: 30px;
    height: 30px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    pointer-events: none;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loader {
    display: none;
  }
  

  .progress {
    width: 100%;
}

.loader_progress {
    width: 0%;
    background: dimgrey;
    text-align: center;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}