html, body, .main-window {
    width: 100%;
    height: 100%;
    margin: 0;
}

.app-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    app-region: drag;
    position: fixed;
    background: dimgrey;
    color: white;
    font-family: cursive;
    align-items: center;
}

span.title {
    font-size: 30px;
    margin-left: 10px;
    display: flex;
}

.window-controls {
    margin-right: 10px;
    app-region: no-drag;
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.window-controls button {
    cursor: pointer;
    background: transparent;
    font-size: 25px;
    border: none;
    color: white;
    font-weight: 900;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

button.minimize-button {
    font-size: 27px;
}

.content {
    width: 100%;
    height: calc(100% - 41.6px);
    overflow: hidden;
    position: absolute;
    top: 41.6px;
    display: grid;
    grid-template-columns: 25% 75%;
}

.menu {
    overflow: scroll;
    background: white;
    display: block;
    padding-top: 5px;
    height: 100%;
    position: relative;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #b00909;
}

*:hover::-webkit-scrollbar-thumb {
    background: #b00909;
}

.file-window {
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.close-button:hover {
    background: #cc3939;
    transition: .2s;
    color: white;
}

button.maximize-button:hover {
    background: #8181ce;
}

button.minimize-button:hover {
    background: #8181ce;
}

button.close-button {
    color: black;
}

img.app-icon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 100%;
    box-shadow: 0 0 0 2px black;
}

.item {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #dedede;
    margin-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 8px;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item:hover {
    background: transparent;
    color: red;
    border-left: 4px red solid;
    border-radius: 0;
}

.send-file, .get-file {
    position: fixed;
    width: 150px;
    height: 60px;
    background: dimgrey;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 20px;
    transition: .2s;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0px 20px 2px dimgrey;
    text-align: center;
    font-family: cursive;
}

.get-file {
    bottom: 80px;
}

.file {
    width: 70%;
    height: 50%;
    background: #ededed;
    border-style: dashed;
    border-width: 7px;
    border-color: #7c7676;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.text {
    font-size: 25px;
    font-family: cursive;
    pointer-events: none;
    opacity: .5;
    text-align: center;
}

.hide {
    display: none;
}

.fileIcon {
    width: 50px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

span.spanImage {
    display: block;
    width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.no-active {
    color: transparent;
    pointer-events: none;
}