.PromptDialog {
    width: 300px;
    height: 75px;
    font-size: 30px;
    text-align: center;
}

.PromptDialogButtonOK {
    font-size: 20px;
    cursor: pointer;
    app-region: none;
    color: red !important;
    font-weight: bold;
}

.PromptDialogButtonCancel {
    font-size: 20px;
    cursor: pointer;
    app-region: none;
}

.PromptDialogText {}

.PromptDialogTempDIV {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

html, body {
    app-region: drag;
    user-select: none;
    margin: 0;
    padding: 0;
    border-radius: 50px;
}

body {
    background: #81727275;
}

html {
    background: transparent;
    color: white;
}

div#kmasdYhBBYGUyuhde button {
    background: transparent;
    border: none;
    color: white;
}